{% extends "root.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            Successfully Logged out!
          </p>

          <p>
            <a href="{% url 'login' %}">Login again</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
