{% extends "root.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
{% load bootstrap3 %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> Create a new MTurk Emulator User </h1>
        </div>
        <div class="panel-body">
          <p>
            The form below allows you to create a new user
            for the web app that will have the ability to act
            as either a worker or a requester.
          </p>
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
