{% extends "requester/root.html" %}

{% block sidebar %}
{% include "requester/sidebar.html" %}
{% endblock %}

{% block tab %}
{% load bootstrap3 %}

<div class="row">
  <div class="col-sm-12 col-md-12">
    <h2> Create Qualification </h2>
    <ol class="breadcrumb">
      <li>Id: {{ requester.aws_id }}</li>
    </ol>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          Create a simple qualification below. The name must
          be unique for your account. This new qualification
          will not auto grant, which means workers can request
          it but you will have to manually approve the requests.
          For more control over qualifications, use the MTurk API to
          create a qualification.
        </p>

        <form method="POST" action="{% url 'requester-qual-create' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">
            Create
          </button>
          {% endbuttons %}
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
