{% extends "worker/root.html" %}

{% block sidebar %}
{% include "worker/sidebar.html" %}
{% endblock %}

{% block tab %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1> Worker Qualifications </h1>
    <ol class="breadcrumb">
      <li>Id: {{ worker.aws_id }}</li>
    </ol>

    {% for message in messages %}
    <div class="alert {{ message.tags }}">
      <p>
        {{message}}
      </p>
    </div>
    {% endfor %}

    {% include "worker/qual_table.html" with quals=quals %}
  </div>
</div>
{% endblock %}
